<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/test2" version="1.0.0" viewmodes="maximized">
    <tizen:application id="0KyBC2eut3" required_version="1.0"/>
    <content src="menu.html"/>
    <icon src="icon.png"/>
    <name>test2</name>
</widget>
